# nix
/result
/nix

# examples
/examples/flake/flake.lock
/examples/flake/result
/examples/flake/out
/examples/experiments/result

# experiments
/experiments

# deskthing
/deskthing/result
/deskthing/out

# qemu
/qemu/emmc.img
/qemu/kernel
/qemu/btrfs.img
/qemu/initrd.img

# install
/install/linux
.venv
__pycache__
out

# image
/tmp

# dumper
dumper/dump-*
dumper/out
